 .main-content{
     .block-title{
         border-bottom: 0.125rem solid $articleRed;
         color: $white;
         font-size: 0.9275rem;
         padding-bottom: 0.1875rem;

         span{
             background: $articleRed;
             padding: 0.7rem 0.375rem 0.25rem;
         }
     }

     .post-block{

        h4{
            margin-top: 0.9375rem;
            color: #333;
            font-size: $font-med;
            font-weight: 700;
        }

        .meta-info{
            .post-date{
                font-size: $font-sm;
                font-style: italic;
            }

        }

        p{
            color: $jet;
            font-size: 1rem;
            margin-top: 0.9275rem;
        }
     }
 }