footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  footer .container .sec {
    margin-right: 30px;
  }
  
  footer .container .sec.about-us {
    width: 40%;
  }
  
  footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: right;
  }
  
  footer .container h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 50px;
    height: 2px;
    background: #f00;
  }
  
  footer p {
    color: #999;
  }
  
  .footer-social-icons {
    margin-top: 20px;
    display: flex;
  }
  
  .footer-social-icons li {
    list-style: none;
  }
  
  .footer-social-icons li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
  }
  
  .footer-social-icons li a:hover {
    background: #f00;
  }
  
  .footer-social-icons li a .fa {
    color: #fff;
    font-size: 20px;
  }
  
  .quickLinks {
    position: relative;
    width: 25%;
  }
  
  .quickLinks ul li {
    list-style: none;
    text-align: right;
  }
  
  .quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .quickLinks ul li a:hover {
    color: #fff;
  }
  
  .contact .info {
    position: relative;
  }
  
  .contact .info li {
    display: flex;
    margin-bottom: 16px;
  }
  
  .contact .info li span {
    color: #999;
  }
  
  .contact .info li a {
    color: #999;
    text-decoration: none;
  }
  
  .contact .info li a:hover {
    color: #fff;
  }
  
  .contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align-last: center;
    color: #999;
  }
  
  @media screen and (max-width: 991px) {
    footer {
      padding: 40px;
    }
  
    footer .container {
      flex-direction: column;
    }
  
    footer .container .sec {
      margin-right: 0;
      margin-bottom: 40px;
    }
  
    footer .container .sec.about-us,
    .quickLinks,
    .contact {
      width: 100%;
    }
  
    .copyrightText {
      padding: 8px 40px;
    }
  
    p.carousel-text {
      display: none;
    }
  
    .recent-news p {
      display: none;
    }
  
    .recent-news img {
      width: fit-content;
    }
  }
  