.header {
  position: relative;
  z-index: 3;
  // humburger Open styles
  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient($darkBlue, transparent);
  }

  nav {
    position: relative;
    background: $white;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 3.375rem;
    }
  }

  &__toggle {
    // mobile menu toggle
    > span {
      display: block;
      width: 1.625rem;
      height: 0.125rem;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 0.1875rem 0.0625rem;

      &:not(:last-child) {
        margin-bottom: 0.3125rem;
      }
    }
  }

  &__menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 0.3125rem;

    a {
      display: block;
      padding: 0.625rem;
      color: $darkBlue;
      text-align: center;
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: 300ms ease-in-out;
      &:not(:first-child) {
        margin-right: 2rem;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 0.3125rem;
        left: 0;
        right: 0;
        bottom: -1.875rem;
        background: linear-gradient(to right, $limeGreen, $robinEggBlue);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $darkBlue;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  .breaking-news-section {
    padding: 0.625rem;
    font-size: 0.75rem;
    font-weight: 400;
    display: flex;
    // flex-wrap: wrap;

    @include breakpoint-up(medium) {
      padding: 0.8rem 1.875rem 0 3.75rem;
      height: 3.75rem;
      font-size: 1rem;
      font-weight: 600;
    }

    #btext {
      height: 27px;
      width: 100px;
      margin: 0;
      padding: 9px 10px 11px 14px;
      border-radius: 0.4rem;
      color: #e30a0a;
      text-align: center;
      background-color: #ddd;
      z-index: -1;
      -webkit-clip-path: polygon(
        100% 0%,
        100% 54%,
        100% 100%,
        25% 100%,
        0% 50%,
        25% 0%
      );
      clip-path: polygon(
        100% 0%,
        100% 54%,
        100% 100%,
        25% 100%,
        0% 50%,
        25% 0%
      );

      @include breakpoint-up(medium) {
        height: 2.25rem;
        width: 6.5rem;
        margin: 0;
        padding: 0.75rem 0 0.875rem 0;
        border-radius: 0.4rem;
        color: #e30a0a;
        text-align: center;
        background-color: #ddd;
        z-index: -1;
        clip-path: polygon(
          100% 0%,
          100% 54%,
          100% 100%,
          25% 100%,
          0% 50%,
          25% 0%
        );
      }
    }

    marquee {
      .breaking-news {
        padding: 1.875rem;
        color: #627379;
        text-decoration: none;
        font-weight: 800;

        &:hover {
          color: #e08b6c;
          cursor: pointer;
        }

        .bntime {
          display: inline-block;
          color: rgba(255, 255, 255, 0.5);
          padding: 0 0.625rem;
          font-size: 0.75rem;
        }
      }
    }
  }
}
