// Colors
$mainColor: #6aa5f1;
$logoRed: #e30a0a;
$titleColor: #f2552c;
$darkBlue: #2d314d;
$isabell: #f6f0ed;
$robinEggBlue: #00cecb;
$eggShell: #f4f1de;
$jet: #353535;
$paleSilver: #c1bcac;
$grayishBlue: #9698a6;
$limeGreen: hsl(136, 65%, 51%);
$white: #ffffff;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 3.25rem; // 52px
