@import "variables";
@import "mixins";
@import "animations";

@import "globals";
@import "header";
@import "hero";
@import "article";
@import "sidebar";
@import "opinions";
@import "cards";
@import "authors";
@import "footer";
@import "pages";