// Colors
$isabell: #f6f0ed;
$robinEggBlue: #00cecb;
$eggShell: #f4f1de;
$jet: #353535;
$grayishBlue: #9698a6;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 3.25rem; // 52px
